
:root{
    --font-color: #FFFFFF;
    --celesteDegrade: rgba(84,153,248,1);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    width: 1280px;
    font-family: 'Lato', sans-serif;
    
}

.stickyHeader {
    
    height: 103px;
    width: 1280px;
    position: fixed; /*Con Fixed lo dejamos fijo en la pantalla arriba de todo*/
    z-index: 3;
    transition: 0.05s;
    background-color: var(--celesteDegrade);
}

.menuBurguerHeader {
    position: absolute;
    left: 96px;
    top: 16px;
}

.textoBoton{
    -webkit-text-fill-color: var(--azulTextoBoton);
    -webkit-text-stroke: 1px var(--azulTextoBoton);
    letter-spacing: 2.2px;
    font-weight: 900;
    font-style: normal;
    /*text-align: center;*/         /*REEMPLAZADO ABAJO POR FLEXBOX*/
    /*line-height: 50px;*/          /*REEMPLAZADO ABAJO POR FLEXBOX*/
}

.botonComprar {
    background-color: var(--amarilloBoton);
    border: 8px solid;
    border-color: var(--celesteBordeBoton);
    border-radius: 111px;
    box-shadow: 4px 5px 0px var(--azulTextoBoton);
    height: 66px;
    position: absolute;

    display: flex;
    align-items:center;
    justify-content:center;
}

.botonComprarChico {
    width: 216px;
    top: 12px;
    left: 972px;
}
.nav-menu{
    position: fixed;
    top: 60px;
    left: -500px;
    width: 280px;
    height: 100vh;
    background-color: var(--celesteDegrade);
    transition: .5s;
    z-index: 3;
    padding-left: 10px;
    padding-top: 50px;
    
  }
  
  .nav-menu ul{
    list-style: none;
  }
  
  .nav-menu ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 0px 10px;
    /*background: linear-gradient(180deg,  rgba(84,153,248,1)30%, #FD0409 70%);*/
    
  }
  .nav-menu ul li:hover{
    background: linear-gradient(0deg, #02187E 1%,  rgba(84,153,248,1)99%);

  }
  .nav-menu ul li h2{
    margin-left: 25px;
    color: #FFE901;
    font-size: 30px;
    font-weight: 400;
  }
  .nav-menu ul li .fa-solid{
  margin-right: 0px;
  }
  .nav-menu ul li .fa-regular{
    margin-right:0px;
    }
.nav-menu ul li a{
    text-decoration: none;

}
  
  .mostrar{
  left: 0;
  }

.logoCentral img{
    top: 91px;
    left: 330px;
    height: 301px;
    width: 590px;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    z-index: 2;
    transition: 0.2s;
}

.divNubeFondo img{
    width: 1280px;
    height: 720px;
    top: 126px;
    left: 0px;
    /*object-fit: cover;*/
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    /*z-index: 1;*/
}

.divEdificioIzquierda img{
    width: 452px;
    height: 720px;
    top: 174px;
    left: 0px;
    position: absolute;
    display: flex;
    z-index: 1;
}

.divEdificioMedio img{
    width: 540px;
    height: 200px;
    top: 695px;
    left: 423px;
    position: absolute;
    display: flex;
    z-index: 1;
}

.divEdificioDerecha img{
    width: 374px;
    height: 705px;
    top: 190px;
    left: 906px;
    position: absolute;
    display: flex;
    z-index: 1;
}

.divTrapezoideVioleta img{
    width: 1280px;
    height: 844.5px;
    top: 825px;
    left: 0px;
    /*object-fit: cover;*/
    position: relative;
    display: flex;
    align-items:center;
    justify-content:center;
    z-index: 1;
}


/*.parallax {
    height: 100vh; /* Ajusta la altura según tu preferencia */
    /*overflow: hidden;
    perspective: 1px;
}*/

.layer {
    position: relative;
    /*top: 0;
    left: 50%;
    transform-origin: 50% 50%;*/
}
/*
.layer img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    transform: translate3d(-50%, 0, 0);
}*/


.banner1{
    display: flex;
    flex-direction: column;
   /* background-image: url(/images/background-b1.png);
    background-repeat: no-repeat; */
    border: solid 1px blue;
    margin-left: 95px;
    
}

.banner-content{
    display: flex;
    flex-direction: row;
    z-index: 2;
    flex-wrap: nowrap;
}
.info1{
    width: 646px;
    margin-top: 192.5px;
    color: var(--font-color);
}
.info1 h1{
    font-weight: 500;
    font-size: 60px;
}
.info1 p{
    width: 586px;
    height: 154px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
}
.verdecito{
    margin-top: 111px;
    position: relative;
    right: 31px;
    z-index: 1;
}
.casaverde{
    position: relative;
    top: -15px;
    left: -10px;

} 


.under-b1{
    display: flex;
    flex-direction: column;
}

.ub1-images{
    display: flex;
    flex-direction: row;
    width: 1080px;
    margin-left: 95px;
    justify-content: space-between;
}
.ub1-img1, .ub1-img2, .ub1-img3{
    width: 333px;
    height: 303px;
}

.ub1-text{
    display: flex;
    flex-direction: row;
    margin-left: 95px;
    width: 1080px;
    justify-content: space-between;
}
.ub1-text p{
    margin-top: 15px;
    width: 333px;
    font-weight: 400;
    font-size: 20px;
    
}